apiVersion: apps/v1
kind: Deployment
metadata:
  name: huge-inflate
spec:
  replicas: 1
  selector:
    matchLabels:
      app: huge-inflate
  template:
    metadata:
      labels:
        app: huge-inflate
    spec:
      terminationGracePeriodSeconds: 0
      containers:
        - name: inflate
          image: public.ecr.aws/eks-distro/kubernetes/pause:3.7
          resources:
            requests:
              cpu: "1.5"
              memory: "3Gi"
