apiVersion: apps/v1
kind: Deployment
metadata:
  name: inflate
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inflate
  template:
    metadata:
      labels:
        app: inflate
    spec:
      tolerations:
        - key: "node-role.kubernetes.io/control-plane"
          operator: "Exists"
          effect: "NoSchedule"
        - key: "node-role.kubernetes.io/control-plane"
          operator: "Exists"
          effect: "NoExecute"
      
      terminationGracePeriodSeconds: 0
      containers:
        - name: inflate
          image: busybox:latest
          command: ["/bin/sh", "-c"]
          args: ["while true; do sleep 3600; done"]
          resources:
            requests:
              cpu: "1"
              memory: "1Gi"