apiVersion: apps/v1
kind: Deployment
metadata:
  name: inflate
  namespace: test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inflate
  template:
    metadata:
      labels:
        app: inflate
    spec:
      tolerations:
        - key: "karpenter.sh/capacity-type" 
          operator: "Exists"
        - key: "karpenter.sh/nodepool" 
          operator: "Exists"
        
        
      
      terminationGracePeriodSeconds: 0
      containers:
        - name: inflate
          image: busybox:latest
          command: ["/bin/sh", "-c"]
          args: ["while true; do sleep 3600; done"]
          resources:
            requests:
              cpu: "1"
              memory: "1Gi"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/role
                operator: In
                values: ["worker"]