apiVersion: apps/v1
kind: Deployment
metadata:
  name: big-inflate
spec:
  replicas: 1
  selector:
    matchLabels:
      app: big-inflate
  template:
    metadata:
      labels:
        app: big-inflate
    spec:
      terminationGracePeriodSeconds: 0
      containers:
        - name: inflate
          image: public.ecr.aws/eks-distro/kubernetes/pause:3.7
          resources:
            requests:
              cpu: "1"
              memory: "1Gi"
